<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
</head>
<body>
  <p>Welcome User!</p>
  <ul id="demo"></ul>
  <!-- <h1>Data from Database</h1>
  <table border="1">
    <tr>
      <th>ID</th>
      <th>Name</th>
      Add more table headers as per your database schema 
    </tr>
    <% data.forEach(row => { %>
      <tr>
        <td><%= row.id %></td>
        <td><%= row.name %></td> -->
        <!-- Add more table cells as per your database schema -->
      <!-- </tr>
    <% }); %>
  </table> --> 
  <script>
    const demo = document.querySelector("ul");


    const members = fetch("/data/database")
    .then(data => data.json())
    .then(members => {
      let output='';
      members.forEach(
       (member)=>{
          output+= `<h3>Data from Database</h3>Member Name:${member.Name} other credentials:<br><li> id:${member.Id}</li><li> Salary:${member.Salary}</li><li> Age:${member.Age}</li>`;
  });
  demo.innerHTML = output;

})
 
  
  console.log(members);
  </script>
</body>
</html>
