<!DOCTYPE html>
<html>
<head>
  <title>Admin Dashboard</title>
  <style>
    body{
      margin:0;
    }
    .container{
      background: whitesmoke;
    }

  </style>
</head>
<body>
  <div class="container">
  <h1>Admin Dashboard</h1>
  <h2>Active Users (<%= activeUserCount %>)</h2>
  <ul>
    <% for (let userId in activeUsers) { %>
      <li><%= activeUsers[userId] %> 
        <form action="/admin/logout" method="post" style="display: inline;">
          <input type="hidden" name="userId" value="<%= userId %>">
          <button type="submit">Logout</button>
        </form>
      </li>
    <% } %>
  </ul>
  <a href="/logout">Logout as Admin</a>
</div>
</body>
</html>
