<html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>node.js Crud operation</title>
</head>
<body>
    <h1>Crud operation</h1>
    
    <form action="/" method="post">
        <input type="text" name="name" value="<%= user.name %>" placeholder="Enter name">
        <input type="text" name="email" value="<%= user.email %>" placeholder="Enter email ">
        <input type="text" name="phone" value="<%= user.phone %>" placeholder="Enter phone">
        <input type="text" name="address" value="<%= user.address %>" placeholder="Enter address">
         <p>results</p>
        <button type="submit">Register</button>
    </form>
    <script>
        fetch("/edituser/3")
        .then(res =>  res.json)
        .then(data => console.log(JSON.stringify(data)))
    </script>
</body>
</html>