<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>to do list</title>
</head>
<body>
    <h1>Daily to do list!</h1>
    <table border="2">
        <tr>
            <th>ID</th>
            <th>TASK</th>
            <th>Hours</th>
            <th>DATE</th>
        </tr>
        <% tasks.forEach((task1)=>{ %>
            <tr>
                <td><%= task1.id %></td>
                <td><%= task1.task %></td>
                <td><%= task1.hour %></td>
                <td><%= task1.date %></td>
            </tr>
        <% }) %>
    </table>

    <form action="/add" method="post">
        <input type="text" name="task" placeholder="Enter what to do for today">
        <button type="submit">Submit</button>
    </form>
</body>
</html>