<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>to do list</title>
</head>
<body>
    <h1>Daily to do list!</h1>
    <ul>
        <% tasks.forEach((task)=>{ %>
            <li><%= task %></li>
        <% }) %>
    </ul>

    <form action="/add" method="post">
        <input type="text" name="task" placeholder="Enter what to do for today">
        <button type="submit">Submit</button>
    </form>
</body>
</html>